<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>相册编辑</title>
</head>
<body>
{% for item in photos %}
    <div style="display: flex; align-items: center;">
        <img src="{{ item.image }}" style="width:300px; height:auto;">
        <div>
            <p style="margin-left: 10px;">ID: {{ item.id }}</p>
            <p style="margin-left: 10px;">{{ item.device }} </p>
            <p style="margin-left: 10px;">{{ item.formatted_name }}</p>
            {% if item.is_film %}
                <p style="margin-left: 10px;">胶片</p>
            {% else %}
                <p style="margin-left: 10px;">{{ item.time }} {{ item.city }} {{ item.district }}</p>
            {% endif %}
            <form style="margin-left: 10px;" action="/modify" method="get">
                <label>
                    <input type="hidden" name="id" value="{{ item.id }}">
                    <input type="hidden" name="act" value="del">
                    <input type="hidden" name="is_film" value="{{ item.is_film }}">
                </label>
                <button type="submit" name="act" value="del">删除</button>
                <button type="submit" name="act" value="reset">重置</button>
            </form>
        </div>
    </div>
    <br>
{% endfor %}
</body>
</html>