<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<style type="text/css">
	body, html,#allmap {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}
	</style>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script type="text/javascript" src="//api.map.baidu.com/api?type=webgl&v=1.0&ak=TSuBY5iecr0Qjq8jvTJrghaLchcEsXMG"></script>
	<title>地球模式</title>
</head>
<body>
	<div id="allmap"></div>
    <div style="position: absolute; top: 10px; left: 10px; background: white; padding: 10px; z-index: 999;">
    <div>经度: <span id="pick_longitude">-</span></div>
    <div>纬度: <span id="pick_latitude">-</span></div>
    <div id="debug_info" style="color: red; font-size: 12px;"></div>
</div>
</body>
</html>
<script type="text/javascript">
    // GL版命名空间为BMapGL
	var map = new BMapGL.Map("allmap");    // 创建Map实例
	map.centerAndZoom(new BMapGL.Point(118.5, 27.5), 5);  // 初始化地图,设置中心点坐标和地图级别
	map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
	map.setMapType(BMAP_SATELLITE_MAP);      // 设置地图类型为地球模式
    map.addEventListener('click', function (e) {
            console.log(Object.keys(e.latlng))
            // alert('点击位置经纬度：' + e.latlng.lng + ',' + e.latlng.lat);
            $("#pick_longitude").text(e.latlng.lng);
            $("#pick_latitude").text(e.latlng.lat);
        });
        $("#debug_info").text("地图加载成功");
</script>
