<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover, user-scalable=0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Huo's Gallery</title>
		<meta name="referrer" content="never">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="msapplication-TileColor" content="#1e293b" />
		<meta name="theme-color" content="#1e293b" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="mobile-web-app-capable" content="yes" />
		<meta name="HandheldFriendly" content="True" />
		<meta name="MobileOptimized" content="320" />
		<link rel="icon" href="/static/images/logo.png">
		<link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" />
		<link rel="apple-touch-icon" href="/static/images/logo.png">
		<meta name="Robots" content="noindex,nofollow,noarchive">
		<!-- CSS files -->
		<link href="/static/css/tabler.min.css" rel="stylesheet" />
		<style type="text/css">
                    .page-wrapper {
                        background: #ffffff;
                    }

			        .tooltip-inner {
			            text-align: left;
			        }

			        .fileTree {
			            width: 240px;
			            max-height: 200px;
			            overflow-y: scroll;
			            overflow-x: hidden;
			            position: absolute;
			            display: none;
			        }

                    .footer {
                        margin-top: 0;
                    }
		</style>
	</head>

	<body>
		<div class="page">
			<aside class="navbar navbar-vertical navbar-expand-lg sticky-top">
				<div class="container-xl">
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-auto-collapse="true"
							data-bs-target="#navbar-menu">
						<span class="navbar-toggler-icon"></span>
					</button>
					<h1 class="navbar-brand">
						<a href="/" style="user-select: none;  display: block; font-weight: 300; font-family: Lato; font-size: 20px;  color: rgb(117, 117, 117); letter-spacing: 0px; ">
                            Huo's Gallery
						</a>
					</h1>
					<div class="navbar-nav flex-row d-lg-none"></div>
					<div class="collapse navbar-collapse" id="navbar-menu">
						<ul class="navbar-nav pt-lg-3">
                            {% for item in PhotoDictionary %}
							<li class="nav-item">
                                <a class="nav-link"  href="javascript:void(0)" onclick="dynamic_load('query_list?year={{ item }}');current_year={{ item }}">
                                    {% if item == "2019" %}
                                       ealier
                                    {% else %}
                                       {{ item }}
                                    {% endif %}
                                    </a>
							</li>
                            {% endfor %}
						</ul>
					</div>
				</div>
			</aside>

			<div class="page-wrapper">
				<div id="page_content"></div>
				<footer class="footer footer-transparent d-print-none">
					<div class="container-xl">
						<div class="row text-center align-items-center flex-row-reverse">
							<div class="col-12 col-lg-auto mt-3 mt-lg-0">
								<ul class="list-inline list-inline-dots mb-0">
									<li class="list-inline-item">
                                        备案号：<a href="https://beian.miit.gov.cn/" class="link-secondary">陕ICP备2022012281号</a><br>
										Copyright &copy; 2022
										<a href="." class="link-secondary">Huo</a>
										All rights reserved.
									</li>
									<li class="list-inline-item">
										1.0
									</li>
								</ul>
							</div>
						</div>
					</div>
				</footer>
			</div>
		</div>

		<script src="/static/js/jquery-3.1.1.min.js"></script>
		<script src="/static/js/tabler.min.js"></script>
		<!-- 公共函数 -->
		<script type="text/javascript">
			//显示全局加载框
			    function show_wait_process() {
			        $("#modal-wait").modal("show");
			    }

			    //关闭全局加载框
			    function hide_wait_process() {
			        $("#modal-wait").modal("hide");
			    }


			    //导航点击
			    function dynamic_load(page) {
                    if (page !== '') {
                        nid = page.split("?")[0];
                        $("#navbar-menu").find("li").removeClass("active");
                        $("#navbar-menu").find("a").removeClass("active");
                        $("#navbar-menu").find("a").each(function () {
                            if ($(this).attr("onclick") == "navmenu('" + page + "')") {
                                if ($(this).attr("class") == "dropdown-item") {
                                    $(this).addClass("active");
                                } else {
                                    $(this).parent().addClass("active");
                                }
                            }
                        });
                        $("#navbar-menu").collapse('hide');
                        show_wait_process();
                        $(window).unbind('scroll');
                        page = page.replaceAll(" ", "%20");
                        $("#page_content").load(page, {}, function (response, status, xhr) {
                            hide_wait_process();
                        });
                    }
                    else {
                        console.log('Page is null!')
                    }
			    }
		</script>
		<script type="text/javascript">
			    //浏览器兼容
                let current_year=-1;

			    String.prototype.replaceAll = function (s1, s2) {
			        return this.replace(new RegExp(s1, "gm"), s2)
			    }

                //事件
			    $(document).ready(function () {
			        //加载页面
			        //打开第一个页面
			        dynamic_load('query_list?homepage=1')
			    });

			    //禁止双指放大
			    document.documentElement.addEventListener('touchstart', function (event) {
			        if (event.touches.length > 1) {
			            event.preventDefault();
			        }
			    }, false);

			    //禁止双击放大
			    var lastTouchEnd = 0;
			    document.documentElement.addEventListener('touchend', function (event) {
			        var now = Date.now();
			        if (now - lastTouchEnd <= 300) {
			            event.preventDefault();
			        }
			        lastTouchEnd = now;
			    }, false);
		</script>
	</body>

</html>